<div class="altura-cabecalho">
  <nav class="nav">
    <div class="cabecalho cabecalho-perfil">
        <div class="foto-perfil">
            <img class="thumbnail" src="../../../assets/img/perfil.jpg" />
        </div>

        <div class="icones-perfil">
            <i><fa-icon [icon]="faCircleNotch"></fa-icon></i>
            <i><fa-icon [icon]="faCommentAlt"></fa-icon></i>
            <i><fa-icon [icon]="faEllipsisV"></fa-icon></i>
        </div>
    </div>
  </nav>

  <div class="formulario-busca">
    <i><fa-icon [icon]="faSearch"></fa-icon></i>
    <input class="input-search" type="search" name="busca" placeholder="Search or start new chat"/>
  </div>
</div>

